<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head(~{::title})">
  <title>Countries - HR</title>
</head>
<body>
  <header th:replace="layout/layout :: frag-header">  	
  </header>
  <main>
  
  	<section>
  	
  		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    
		    <form th:action="@{/countries/saveedit}" th:object="${country}" method="post">
			  <div class="mb-3">
			    <label for="id" class="form-label">Id</label>
			    <input type="text" class="form-control" th:field="*{id}" disabled>			    
			  </div>
			  <div class="mb-3">
			    <label for="name" class="form-label">Name</label>
			    <input type="text" class="form-control" th:field="*{name}">			    
			  </div>
			  <div class="mb-3">
			    <label for="region" class="form-label">Región</label>
			    <select class="form-select" th:field="*{region}">
				  <option th:each="region : ${regions}" 
				  		th:value="${region.id}" th:text="${region.name}">One</option>
				</select>		    
			  </div>
			  <button type="submit" class="btn btn-success">Save</button>
			  <a th:href="@{/countries}" class="btn btn-primary">Cancel</a>
			</form>
		    		    
		  </div>
		</div>
  	
  	</section>
  
  </main>
  <footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>