<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head(~{::title})">
  <title>Countries - HR</title>
</head>
<body>
  <header th:replace="layout/layout :: frag-header">  	
  </header>
  <main>
  
  	<section>
  		<a th:href="@{/countries/new}" class="btn btn-success">New Country</a>
  		
  		<div class="card" style="width: 18rem;" th:each="country : ${countries}">
		  <div class="card-body">
		    <h5 class="card-title" th:text="${country.name}">Name</h5>
		    <p class="card-text">Región: <span th:text="${country.region.name}"></span></p>
		    <a th:href="${'/countries/' + country.id + '/edit'}" class="btn btn-primary">Edit</a>
		    <a th:href="${'/countries/' + country.id + '/del'}" class="btn btn-warning">Delete</a>		    
		  </div>
		</div>
  	
  	</section>
  
  </main>
  <footer th:replace="layout/layout :: frag-footer"></footer>
</body>
</html>